.item-container {
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  min-width: 30%;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .item-content {
        opacity: 0.9;
      }
  }
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    opacity: 0.7;
    padding: 0 3%;
  }


.background-image {
  width: 100%;
  height: 100%;
}
