.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.title {
    font-weight: bolder;
    margin-bottom: 2%;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}