.item-container {
  margin: 0 2% 1%;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin: 1% 0;
  font-weight: lighter;
}

.item-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
